header {
  position: relative;
}
.freeShipping {
  background-color: #000000;
  width: 100%;
  a {
    text-decoration: none;
  }
  p {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .2em;
    padding: 7px;
    margin: 0;
  }
}
.headerNavigation {
  padding: 0 40px;
  display: flex;
  justify-content: space-evenly;

  .nav_section {
    display: flex;
    justify-content: space-between;

    .nav_items {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      flex-wrap: wrap;
      .nav_items_li {
        align-items: center;
        padding-right: 25px;
        height: 10vh;
        display: flex;
      }
      .nav_items_links {
          text-decoration: none;
          color: #000000;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 22px;
          padding: 0;
          align-items: center;
      }
      .goods_amount_section {
          color: #000000;
          font-weight: bold;
          align-items: start;
      }
      .nav_items_li:nth-child(-n+6) .nav_items_links:after {
        content: '';
        width: 0;
        height: 2px;
        display: block;
        background: #000000;
        transition-duration: 300ms;
      }
      .nav_items_li:nth-child(-n+6) .nav_items_links:hover:after {
        width: 100%;
      }
      .nav_items_li:nth-child(-n+6) .nav_items_links.active:after {
        width: 100%;
      }
      .active {
        text-decoration: #000000;
      }
      img {
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
      }
    }
    li {
      list-style: none;
    }
  }
  .cart_section {
    cursor: pointer;
  }
}
