.carousel_section {
  div{
    text-align: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
  }
  .active_image {
    border: 2px solid #000000;
  }
  .inactive_image {
    border: none;
  }
  img {
    width: 120px;
    height: 120px;
  }
}