.emovideo {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  background-color: #1d1d1d;
  justify-content: center;
  display: flex;
}
.girls_collection_banner {
  width: 100%;
  img {
    width: 100%;
  }
}